<template>
    <div id="app">
        <HelloMe/>
    </div>
</template>

<script>
    import HelloMe from "./components/Hellome";

    export default {
        name: "App",
        components: {
            HelloMe
        }
    };
</script>

<style>
    #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
